#posts-container {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
}

.post-card .card-subtitle {
    text-align: right;
}

.post-card p {
    text-align: left;
}

.post-card .btn {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.post-form {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.post-form input {
    width: 40%;
    margin: 10px auto;
    align-items: center;
}

.post-form textarea {
    width: 75%;
    margin: 10px auto;
    align-items: center;
}

.post-form .btn {
    width: 20%;
    margin: 12px auto;
}

.post-details-container {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    margin-top: 5%;
}

.user-profile-link:hover {
    cursor: pointer;
}