.register-form {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.register-form input {
    width: 40%;
    margin: 10px auto;
    align-items: center;
}

.register-form button {
    width: 20%;
    margin: 12px auto;
}
